<head>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js">
	</script>
	<script type="text/javascript">
    
    $(document).ready( function() {
    
       
            
    });
</script> 
  <title>Project_Venue</title>
</head>

<body class="backgroundpattern">
	<div id="overlay-back"></div>
	<div id="overlay"><span>
	<div>

		<div style="display: flex;">
		<a ><div class="addvenue" id="addvenue"></div></a>
		<div class="logo"></div>
		<a id="fb"><div class="fb"></div></a>
		<a><div class="tweeter"></div></a>
	</div>
	</div>
<div>
	<div>
  <h1>Our Venues!</h1>

  <ul>
      {{#each VenueData}}
        {{> Display}}
      {{/each}}
    </ul>
</div>
</div>
<div id="popup_box">
    <h1>Add your venue here!</h1>
    <a id="popupBoxClose">Close</a>
    <table>
    	<tr>
    		<td><label id="venuename">Venue Name :</label> </td>
    		<td><input type="text" id="venuenameinput" name="venuenameinput"></td>
    	</tr>
    	<tr>
    		<td><label id="address">Address :</label> </td>
    		<td><textarea id="addresstextarear" rows="4" cols="50"></textarea></td>
    	</tr>
    	<tr>
    		<td><label id="state">State :</label> </td>
    		<td><select name="state"><option value="Illinois">Illinois</option></select></td>
    	</tr>
    	<tr>
    		<td><label id="city">City :</label> </td>
    		<td><select name="city"><option value="Chicago">Chicago</option></select></td>
    	</tr>
    	<tr>
    		<td></td><td><button id="submitvenue">Submit</button></td>
    	</tr>
    </table>
       
</div>
</span></div> 
</body>

<template name="Display">
	<li>
		<span class="list"><div>{{venuename}}</div></span>
  		<span class="list"><div >{{address}}</div></span>
		<span class="list"><div>{{state}}</div></span>
		<span class="list"><div>{{city}}</div></span>
		<span class="delete"><div><button class="delete">Book</button></div></span>
  </li>
</template>
